.ttt-gameboard__wrap {
  > li {
    > ol {
      > li {
        > button {
          width: min(8rem, 100%);
          aspect-ratio: 1/1;
          border: none;
          background: #aca788;
          color: #3f3b00;
          font-size: min(5rem, 5vmax);
          cursor: pointer;
          font-family: "Caprasimo", cursive;
          padding: 1rem;
          &:disabled {
            filter: grayscale(1);
          }
        }
        & {
          display: flex;
          justify-content: center;
        }
      }
      & {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin: 0;
        padding: 0;
      }
    }
    & {
      position: relative;
    }
  }
  & {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // gap: 2rem;
    // margin: 3rem 0;
    // padding: 0;
    // flex-direction: column;
    gap: 2rem;
    margin: 3rem 0;
    padding: 0;
    display: grid;
  }
}
